In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "name": ["김지훈", "이유진", "박동현", "김민지"],
        "english": [90, 80, 60, 70],
        "math": [50, 60, 100, 20],
    }
)

df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [3]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [4]:
sum(df['english'])

300

In [5]:
sum(df['math'])

230

In [6]:
sum(df['english'])/4

75.0

In [7]:
sum(df['math'])/4

57.5